<p>Hi <%= current_user.name %></p>
Your Partners<br>
<% @partners.each do |p| %>
  <%= p.name %><br>
<% end %><br>
Add Partner <%= render 'partners/form' %>
<br><br>
Your Clients<br>
<% @clients.each do |c| %>
  <%= c.name %><br>
<% end %><br>
Add Client <%= render 'clients/form' %>